<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Android 13 notification -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalyearProjectA">

        <activity
            android:name=".notification.RiminderNotification"
            android:exported="false"/>

        <receiver
            android:name=".notification.ReminderReceiver"
            android:exported="false"/>
        <activity
            android:name=".notes.DoctorNotesActivity"
            android:exported="false"
            android:theme="@style/Theme.FinalyearProjectA" />
        <activity
            android:name=".notes.AddNoteActivity"
            android:exported="false" />
        <activity
            android:name=".OCRHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".appointment.AppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".prescription.Prescription"
            android:exported="false" />
        <activity
            android:name=".ocr.LabReportActivity"
            android:exported="false" />
        <activity
            android:name=".viewprofile.ProfileViewersActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".medicalrecords.MedicalHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".webv.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" /> <!-- 🔴 REQUIRED FOR PDF OPEN -->
        <activity
            android:name=".portrait.PortraitCaptureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Upload_Report"
            android:exported="false" />
        <activity
            android:name=".View_Report"
            android:exported="false" />
        <activity
            android:name=".Scan_Image"
            android:exported="false" />


        <activity
            android:name=".CreateAccount"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>